

header {
    background-color: #268d44;
    border: 1px solid black;
    border-radius: 4px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img.headshot {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 10px;
}

header section.header-text {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}
header h1 {
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h2 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Begin CSS for nav links*/
nav a {
    text-decoration: none;
    font-size: 20px;
}

nav a:link {
    color: #ffffff
/* - color for unvisited nav link */
}

nav a:visited {
    color: #0e94c9
/* - color for visited nav link */
}

nav a:hover {
    color: #000000
/* - color for visited nav link when mouse hovers over it */
}

nav a:active {
    color: #ff00d9
/* - color for nav link as it is clicked */
}
/*End CSS for nav links*/


section#get-to-know-me {
    height: 100px;
    background-color: #c1c1c1;
    border: 1px solid black;;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

section#see-my-work {
    height: 100px;
    background-color: #c1c1c1;
    border: 1px solid black;;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.container-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



footer {
    background-color: #02c8ff;
    border: 1px solid black;
    border-radius: 4px;
    height: 70px;
    width: 180px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

footer h3 {
    font-size: 20px;
    padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div.links {
    display: flex;
    flex-direction: row;
}


.emaillogo {
    padding-left: 10px;
    padding-top: 3px;
    width:42px;
    height:42px;
}

.iglogo {
    padding-left: 10px;
    padding-top: 3px;
    width:42px;
    height:42px;
}

.discordlogo {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    width:50px;
    height:42px;
}