/* CSS for Header */

header {
    display: flex;
    flex-direction: row;
    background-color: #8F9DB3;
    border: 1px solid black;
    justify-content: space-between;
    flex-wrap: wrap;
  }
 
    header div {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
    }

        .headshot img {
            height: 120px;
            width: 120px;
            border-radius: 50%;
            /* padding: 10px; */
        }

        .name-title {
            display: flex;
            flex-direction: column;
            padding-top: 30px;
            text-align: center;
        }

            .name-title h1 {
                font-size: 60px;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                padding-bottom: 10px;
            }

            .name-title h2 {
                font-size: 20px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }

/* CSS for Header Nav */
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }

            nav a {
            text-decoration: none;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }

            nav a:link {
                color: #180F07
            /* - color for unvisited nav link */
            }

            nav a:visited {
                color: #867F6D
            /* - color for visited nav link */
            }

            nav a:hover {
                color: #0B0A05;
                font-weight: bold;
                
            /* - color for visited nav link when mouse hovers over it */
            }

            nav a:active {
                color: #49402F
            /* - color for nav link as it is clicked */
            }

main {
    display:flex;
    flex-direction: column;
}

    #get-to-know-me {
        display: flex;
        flex-direction: row;
        background-color: #8f9db3aa;
        border: 1px solid black;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 10px;
        }

        #get-to-know-me h2 {
            font-size: 40px;
            padding: 5px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }

            #get-to-know-me p {
                font-size: 20px;
                padding: 5px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                }

            #see-my-work {
                display: flex;
                flex-direction: column;
                background-color: #8f9db3aa;
                border: 1px solid black;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 10px;
                }

                #see-my-work h2 {
                    font-size: 40px;
                    padding: 5px;
                    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    }

                .container-projects {
                    flex: 0 1 70%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                }
    
                .container-projects h3 {
                    padding: 5px;
                    padding-left: 20px;
                    font-weight: bold;
                }

    .projects {
        margin: 5px;
        border: solid black 1px;
        box-sizing: border-box;
        border-radius: 5px;
        color: #ffffff;
        background-color: #867F6D;
    }

    .projects img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 10px;
    }

    .main-project {
        margin: 5px;
        border: solid black 1px;
        box-sizing: border-box;
        border-radius: 5px;
        color: #ffffff;
        background-color: #867F6D;
    }

    .main-project img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        padding: 10px;
        }

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #8F9DB3;
    border: 1px solid black;
    justify-content: space-between;
    }

    div.talkbox {
        display: flex;
        flex-direction: column;
        background-color: #f1f1f1;
        border-radius: 5px;
        border-style:inset;
        border-width: 3px;
        margin: 15px;
    }

    h3 {
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #lets-talk {
        padding-top: 20px;
        padding-left: 35px;
    }

        div.links {
            display: flex;
            flex-direction: row;
            margin: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 15px;
        }
            .emaillogo {
                padding-top: 3px;
                width:42px;
                height:42px;
            }
            
            .iglogo {
                padding-left: 10px;
                padding-top: 3px;
                width:42px;
                height:42px;
            }
            
            .discordlogo {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 3px;
                width:50px;
                height:42px;
            }

        .copyright {
            display: flex;
            flex-direction: column;
            background-color: #f1f1f1;
            width: 200px;
            margin: 10px;
            padding: 20px;   
        } 