/* CSS for Background/Body Img */

body {
    background-image: url("../images/image-bg.jpg");
    position: inherit;
    background-size: 100vw 100%;
    background-repeat: no-repeat;
}

/* CSS for Header */

header {
    display: flex;
    flex-direction: row;
    background-color: #8F9DB3;
    border: 1px solid black;
    justify-content: space-between;
    flex-wrap: wrap;
  }
 
    header div {
        margin: 10px;
        padding: 20px;
    }

        .headshot img {
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }

        .name-title {
            display: flex;
            flex-direction: column;
            padding-top: 30px;
            text-align: center;
        }

            .name-title h1 {
                font-size: 60px;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                padding-bottom: 10px;
            }

            .name-title h2 {
                font-size: 20px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }


/* CSS for Header Nav */
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px;
        margin-top: 20px;
        padding: 20px;
        font-size: 30px;
    }

            nav a {
            text-decoration: none;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }

            nav a:link {
                color: #180F07
            /* - color for unvisited nav link */
            }

            nav a:visited {
                color: #867F6D
            /* - color for visited nav link */
            }

            nav a:hover {
                color: #0B0A05;
                font-weight: bold;
                
            /* - color for visited nav link when mouse hovers over it */
            }

            nav a:active {
                color: #49402F
            /* - color for nav link as it is clicked */
            }

/* CSS for Main */

main {
    display:flex;
    flex-direction: column;
}

/* CSS for Author Bio */

    #get-to-know-me {
        display: flex;
        flex-direction: row;
        background-color: #8f9db3aa;
        border: 1px solid black;
        border-radius: 5px;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 10px;
        }

        #get-to-know-me h2 {
            font-size: 40px;
            padding: 5px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }

            #get-to-know-me p {
                font-size: 20px;
                padding: 5px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                }

/* CSS for Projects Tiles/Links */                

    #see-my-work {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #8f9db3aa;
        border: 1px solid black;
        border-radius: 5px;
        margin: 10px;
        }

        #see-my-work h2 {
            font-size: 40px;
            padding: 5px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }

        .all-projects {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }

            .all-projects div {
                flex: 0 1 50%;
            }

            .all-projects div:first-child {
                flex: 1 1 100%;
            }

            .all-projects div img {
                width: 100%;
                height: auto;
            }

            .all-projects a {
                text-decoration: none;
            }

            .all-projects h3 {
                padding: 5px;
                padding-left: 20px;
                font-weight: bold;
            }

            .projects {
                margin: 5px;
                border: solid black 1px;
                box-sizing: border-box;
                border-radius: 5px;
                color: #ffffff;
                background-color: #867F6D;
            }

/*CSS for footer*/
            
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #8F9DB3;
    border: 1px solid black;
    justify-content: space-between;
    }

    div.talkbox {
        display: flex;
        flex-direction: column;
        background-color: #f1f1f1;
        border-radius: 5px;
        border-style:inset;
        border-width: 3px;
        margin: 15px;
    }

    h3 {
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #lets-talk {
        padding-top: 20px;
        padding-left: 35px;
    }

        div.links {
            display: flex;
            flex-direction: row;
            margin: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 15px;
        }
            .emaillogo {
                padding-top: 3px;
                width:42px;
                height:42px;
            }
            
            .iglogo {
                padding-left: 10px;
                padding-top: 3px;
                width:42px;
                height:42px;
            }
            
            .discordlogo {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 3px;
                width:50px;
                height:42px;
            }

        .copyright {
            display: flex;
            flex-direction: column;
            width: 200px;
            margin: 10px;
            padding: 20px;   
        } 

/*Tablet sizing*/
@media screen and (max-width: 992px) {
    header div {
        margin: 7.5px;
        padding: 15px;
    }
        .headshot img {
            height: 90px;
            width: 90px;
        }
        .name-title {
            padding-top: 22.5px;
        }

            .name-title h1 {
                font-size: 45px;
                padding-bottom: 7.5px;
            }

            .name-title h2 {
                font-size: 15px;
            }

    nav {
        margin: 7.5px;
        margin-top: 15px;
        padding: 15px;
        font-size: 22.5px;
    }

    #get-to-know-me {
        border-radius: 3.75px;
        margin: 7.5px;
        }

        #get-to-know-me h2 {
            font-size: 30px;
            padding: 3.75px;
            }

            #get-to-know-me p {
                font-size: 15px;
                padding: 3.75px;
                }

    #see-my-work {
        border-radius: 3.75px;
        margin: 7.5px;
        }

        #see-my-work h2 {
            font-size: 30px;
            padding: 3.75px;
            }

        .all-projects h3 {
            padding: 3.75px;
            padding-left: 15px;
        }

        .projects {
            margin: 3.75px;
            border-radius: 3.75px;
        }

        div.talkbox {
            border-radius: 3.75px;
            border-width: 2.25px;
            margin: 11.25px;
        }

        h3 {
            font-size: 15px;
        }

        #lets-talk {
            padding-top: 15px;
            padding-left: 26.25px;
        }

            div.links {
                margin: 7.5px;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 11.25px;
            }
                .emaillogo {
                    padding-top: 2.25px;
                    width:31.5px;
                    height:31.5px;
                }
                
                .iglogo {
                    padding-left: 7.5px;
                    padding-top: 2.25px;
                    width:31.5px;
                    height:31.5px;
                }
                
                .discordlogo {
                    padding-left: 7.5px;
                    padding-right: 7.5px;
                    padding-top: 2.25px;
                    width:37.5px;
                    height:31.5px;
                }

            .copyright {
                width: 150px;
                margin: 7.5px;
                padding: 15px;   
            }             
}

/*Large SPhone sizing*/
@media screen and (max-width: 760px) {
    header div {
        margin: 5px;
        padding: 10px;
    }
        .headshot img {
            height: 60px;
            width: 60px;
        }
        .name-title {
            padding-top: 15px;
        }

            .name-title h1 {
                font-size: 30px;
                padding-bottom: 5px;
            }

            .name-title h2 {
                font-size: 10px;
            }

    nav {
        margin: 5px;
        margin-top: 10px;
        padding: 10px;
        font-size: 15px;
    }

    #get-to-know-me {
        border-radius: 2.5px;
        margin: 5px;
        }

        #get-to-know-me h2 {
            font-size: 20px;
            padding: 2.5px;
            }

            #get-to-know-me p {
                font-size: 10px;
                padding: 2.5px;
                }

    #see-my-work {
        border-radius: 2.5px;
        margin: 5px;
        }

        #see-my-work h2 {
            font-size: 20px;
            padding: 2.5px;
            }

        .all-projects h3 {
            padding: 2.5px;
            padding-left: 10px;
        }

        .projects {
            margin: 2.5px;
            border-radius: 2.5px;
        }

        div.talkbox {
            border-radius: 2.5px;
            border-width: 1.5px;
            margin: 7.5px;
        }

        h3 {
            font-size: 10px;
        }

        #lets-talk {
            padding-top: 10px;
            padding-left: 17.5px;
        }

            div.links {
                margin: 5px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 7.5px;
            }
                .emaillogo {
                    padding-top: 1.5px;
                    width:21px;
                    height:21px;
                }
                
                .iglogo {
                    padding-left: 5px;
                    padding-top: 1.5px;
                    width:21px;
                    height:21px;
                }
                
                .discordlogo {
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 1.5px;
                    width:25;
                    height:21px;
                }

            .copyright {
                width: 100px;
                margin: 5px;
                padding: 10px;   
            }             
}

/*Small SPhone sizing*/
@media screen and (max-width: 760px) {
    header div {
        margin: 2.5px;
        padding: 7.5px;
    }
        .headshot img {
            height: 30px;
            width: 30px;
        }
        .name-title {
            padding-top: 7.5px;
        }

            .name-title h1 {
                font-size: 15px;
                padding-bottom: 2.5px;
            }

            .name-title h2 {
                font-size: 5px;
            }

    nav {
        margin: 2.5px;
        margin-top: 5px;
        padding: 5px;
        font-size: 7.5px;
    }

    #get-to-know-me {
        border-radius: 1.25px;
        margin: 2.5px;
        }

        #get-to-know-me h2 {
            font-size: 10px;
            padding: 1.25px;
            }

            #get-to-know-me p {
                font-size: 5px;
                padding: 1.25px;
                }

    #see-my-work {
        border-radius: 1.25px;
        margin: 2.5px;
        }

        #see-my-work h2 {
            font-size: 10px;
            padding: 1.25px;
            }

        .all-projects h3 {
            padding: 1.25px;
            padding-left: 5px;
        }

        .projects {
            margin: 1.25px;
            border-radius: 1.25px;
        }

        div.talkbox {
            border-radius: 1.25px;
            border-width: 1.25px;
            margin: 3.75px;
        }

        h3 {
            font-size: 5px;
        }

        #lets-talk {
            padding-top: 5px;
            padding-left: 8.75px;
        }

            div.links {
                margin: 2.5px;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 3.75px;
            }
                .emaillogo {
                    padding-top: .75px;
                    width:10.5px;
                    height:10.5px;
                }
                
                .iglogo {
                    padding-left: 2.5px;
                    padding-top: .75px;
                    width:10.5px;
                    height:10.5px;
                }
                
                .discordlogo {
                    padding-left: 2.5px;
                    padding-right: 2.5px;
                    padding-top: .75px;
                    width:12.5;
                    height:10.5px;
                }

            .copyright {
                width: 50px;
                margin: 2.5px;
                padding: 5px;   
            }             
}